$primary-color: #343a40;
$secondary-color: #f8f9fa;
$light-color: #F4F6F6;
$text-color: #17202A;
$hover-color: lighten($primary-color, 10%);

.logo{

    width: 80px;
    height: 80px;
    margin-right: 100px;
}
.admin-panel {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;

  .sidebar {
    width: 250px;
    background-color: $primary-color;
    color: $light-color;
    display: flex;
    flex-direction: column;

    .logo-section {
      padding: 20px;
      background-color: $hover-color;
      h2 {
        margin: 0;
      }
    }

    .nav-menu {
      flex-grow: 1;
      .menu-item {
        display: flex;
        align-items: center;
        padding: 15px;
        color: $light-color;
        text-decoration: none;
        &:hover {
          background-color: $hover-color;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }

  .main-content {
    flex-grow: 1;
    background-color: $light-color;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: $secondary-color;
      h1 {
        margin-left: 400px;
      }

      .btn-logout {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $light-color;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: $hover-color;
        }
      }
    }

    .content {
      padding: 20px;
    }
  }
}
