<div class="admin-panel">
  <aside class="sidebar">
      <div class="logo-section">
        <h2>My Admin</h2>
      </div>
      <nav class="nav-menu">
          <a class="menu-item" (click)="showAdminComponent('dashboard')" routerLink="/admin/dashboard">
              <i class="fas fa-home"></i><span>Dashboard</span>
          </a>
          <a class="menu-item" (click)="showAdminComponent('orders')" routerLink="/admin/orders">
              <i class="fas fa-shopping-cart"></i><span>Orders</span>
          </a>
          <a class="menu-item" (click)="showAdminComponent('products')" routerLink="/admin/products">
              <i class="fas fa-boxes"></i><span>Products</span>
          </a>
          <a class="menu-item" (click)="showAdminComponent('categories')" routerLink="/admin/categories">
              <i class="fas fa-tags"></i><span>Categories</span>
          </a>
          <a class="menu-item" (click)="logout()">
            <i class="icon fas fa-sign-out-alt"></i><span class="link-text">Logout</span>
        </a>
      </nav>
  </aside>
  <main class="main-content">
      <header class="header">
        <h1>         WELL COME TO JOLLIBEE HOME</h1>
        <img src="https://jollibee.com.vn/static/version1704296127/frontend/Jollibee/default/vi_VN/images/logo.png" class="logo">
      </header>
      <div class="content">
          <router-outlet></router-outlet>
      </div>
  </main>
</div>
