.qr_box {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  header h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 14px;
    color: #666;
  }
  
  .qr_box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .generateBtn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .generateBtn:hover {
    background-color: #0056b3;
  }
  

  /* Phong cách cho ảnh QR Code */
  #qrImg {
    width: 800px; /* Set width to 500px */
    height: 500px; /* Maintain aspect ratio for height */
    margin-top: 20px; /* Add space above */
    border-radius: 5px; /* Optional border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    border: 2px solid #0000ff; /* Blue border, change '2px' to adjust thickness */
  }

  .logos-container {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .logo {
    max-width: 80px;
    margin: 0 10px; /* Thêm một chút không gian giữa logo và divider */
  }
  
  .divider {
    border-left: 2px solid #8ca7cf;
    height: 50px; /* Điều chỉnh chiều cao tùy ý */
  }
  
  .total-amount {
    color: rgb(15, 84, 112);
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 700;
  }

  .text-red {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(199, 52, 52);
}

.text-green {
    text-transform: uppercase;
    font-weight: 700;
    color: #207a66;
}
.sotaikhoan {
  color: rgb(15, 84, 112);
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 700;
}