<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này chuyên bán đồ jollibee</p>
        <p>Giao diện chưa hoàn thiện, đang phát triển thêm</p>
    </div>
    <!--1 ô search bên trái, 1 ô combobox bên phải-->
    <div class = "search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">w
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/m/y/my_lon_strip_khoai_nc.png"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">MÌ Ý SỐT BÒ BẰM LỚN + 2 MIẾNG GÀ GIÒN </h2>
                <p class="produce-description">Ăn là ngât ngất</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/m/y/my_nho_khoai_nc.png"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">N2 - MÌ Ý SỐT BÒ BẰM + KHOAI TÂY VỪA + NƯỚC NGỌT LỚN</h2>
                <p class="produce-description">Đặc biệt thơm ngon thượng hạng</p>
                <p class="produce-price"><del>Giá: $200</del>  $150</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/b/o/bo_go_ga_khoai_nc.png"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">SANDWICH GÀ GIÒN + KHOAI TÂY + NƯỚC NGỌT LỚN</h2>
                <p class="produce-description">Xuất xứ nước ngoài</p>
                <p class="produce-price"><del>Giá: $500</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/m/y/my_ga_nc.png"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">01 MIẾNG GÀ GIÒN VUI VẺ + 1 MỲ Ý SỐT BÒ BẰM</h2>
                <p class="produce-description">Sự lựa chọn hoàn hảo</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="product-item">
            <img   
                src="https://carshop.vn/wp-content/uploads/2022/07/hinh-nen-xe-oto-dep-7.jpg"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Ô tô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
