@import '../../styles/shared-styles.scss';
.container {
    color: black;
}
.header_order {
    text-transform: uppercase;
    font-weight: 900;
}
.flex-row {
    display: flex;
    align-items: center; /* Căn chỉnh các phần tử theo chiều dọc ở giữa */
    justify-content: space-between; /* Căn chỉnh các phần tử để có khoảng cách đều */
  }
  
  .form-control {
    margin-right: 10px; /* Thêm khoảng cách giữa input và button */
  }
  
.intro-section {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: none;
    text-align: center;
}
.product-header {
    color: rgb(0, 0, 0);
}
.form-control {
    
    background-color: white;
    border: 1px solid rgb(29, 33, 54);
    color: rgb(0, 0, 0);
}

.form-control:focus {
    border-color: rgb(0, 0, 0);
    background-color: $shopapp-background-color;
}
.form-label {
    color: rgb(0, 0, 0);
}
.product-header {
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 900;
}
.product-order{
    color: black;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 900;
}
table {
    width: 100%;
    background-color: #ffd8d8; /* Light red color */
    font-weight: 900;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    border-collapse: separate;
    border: 1px solid rgb(255, 255, 255);
    border-spacing: 0;
    color :black;  
}

th,
td {
    padding: 10px;
    text-align: center;
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: rgb(0, 0, 0);
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right, $shopapp-tint-color, $shopapp-color);
    color: white;
    border-radius: 30px;
    width: 200px;
  }