@import '../../styles/shared-styles.scss';
.logo{

    width: 100px;
    height: 100px;
    margin-right: 100px;
}
header {
    background-color: #e31837;
    color: #e31837;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: white;
}

.navbar .container .navbar-nav .nav-link {
    font-weight: 900;
    color: white;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 15px;
    text-transform: uppercase; /* Viết hoa tất cả chữ cái */
}



.navbar .container .navbar-nav .nav-link.active {
    background-color: #d87171;
    color: white !important;
}
.nav-item.active {
    background-color: $shopapp-color !important;
    color: white !important;
}

/* Add this CSS to your project's stylesheet */

.popover-list {
    padding: 10px;
}
.popover-body {
    padding: 0px;
}
.popover-item {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.popover-item:hover {
    background-color: #f0f0f0;
    color: $shopapp-color;    
}

.navbar-brand {
    padding-left: 70px;
}

