
    <div class="order-details">
        <h1 class="order-title">Order Details</h1>
        
        <div class="order-content">
            <div class="order-info">
                <h3>Order Information</h3>
                <p><strong>Order ID:</strong> {{ orderResponse.id }}</p>
                <p><strong>User ID:</strong> {{ orderResponse.user_id }}</p>
                <p><strong>Full Name:</strong> {{ orderResponse.fullname }}</p>
                <p><strong>Phone Number:</strong> {{ orderResponse.phone_number }}</p>
                <p><strong>Email:</strong> {{ orderResponse.email }}</p>
                <p><strong>Address:</strong> {{ orderResponse.address }}</p>
                <p><strong>Payment method:</strong> {{ orderResponse.payment_method }}</p>
                <p><strong>Note:</strong> {{ orderResponse.note }}</p>
                <p><strong>Order Date:</strong> {{ orderResponse.order_date | date }}</p>
                
                
                <div class="status-selection">
                    <label for="statusSelect"><strong>Status:</strong></label>
                    <select class="form-control" id="statusSelect" [(ngModel)]="orderResponse.status">
                        <option value="pending">Pending</option>
                        <option value="processing">Processing</option>
                        <option value="shipped">Shipped</option>
                        <option value="delivered">Delivered</option>
                        <option value="cancelled">Cancelled</option>
                    </select>
                </div>          
            </div>  

            <div class="order-table">
                <h3>Order Items</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <!-- <th>Total</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order_detail of orderResponse.order_details; let i = index">
                            <td>{{ order_detail.product.name }}</td>
                            <td>{{ order_detail.product.price }}</td>
                            <td>{{ order_detail.number_of_products }}</td>
                            <!-- <td>{{ order_detail.total_money }}</td> -->
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>

        <button class="save-btn" (click)="saveOrder()">Save</button>
    </div>