<style>
    .intro-section{
        text-align: center;
        color: white;    
        padding: 20px;
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-category{
        width: 200px;
    }
    .search-input{
        width: 300px;
        background-color: rgb(19,23,42);
        margin-right: 10px;
        border-color: rgba(255,255,255,0.5);
        color: white;
    }
    .form-control {
        background-color: transparent;
        color: white;
    }
    .form-control::placeholder { /*chorme*/
        color: rgba(255,255,255,0.5);
        opacity: 1;
    }
</style>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này chuyên bán đồ ngoại</p>
        <p>Bạn có thể xem các sản phẩm tại đây</p>
    </div>
    <!--1 ô search bên trái, 1 ô combobox bên phải-->
    <div class = "search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">w
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
</div>
