<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này chuyên bán đồ ngoại</p>
        <p>Bạn có thể xem các sản phẩm tại đây</p>
    </div>
    <!--1 ô search bên trái, 1 ô combobox bên phải-->
    <div class = "search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">w
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/461382/pexels-photo-461382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bánh mỳ</h2>
                <p class="produce-description">Đặc biệt thơm ngon thượng hạng</p>
                <p class="produce-price"><del>Giá: $200</del>  $150</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
            <img   
                src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=600"
                alt="product-image"
                class="product-image">
                <h2 class="produce-name">Bỏng ngô</h2>
                <p class="produce-description">Chất liệu lúa mạch Hà Lan</p>
                <p class="produce-price"><del>Giá: $300</del>  $200</p>
                <div class="produce-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="product-actions">
                    <button type="button" class="btn btn-danger">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
